csrc
simv.daidir
verdiLog
stack.info.*
*.jou
*.log
*.str
*.fsdb
*.key
*.db
*.shm
*.run
simv
novas.*
vc_hdrs.h
.indago_auto_save*
*.out
*.elf
*.a
*.so
*.o
*.swp
*.history
*.err
*.diag
*.cache/
*.gen/
*.runs/
xcelium.d/
.bpad/
.ida.*/
.simvision/
simprofile*/
profile*
indago_logs/
.vscode/
.ccls-cache/
rtl/spyglass/
rtl/work/
fpga_test/
fpga_image/
syn/
syn_simple/
trace/
trace_fast/
tb_output/
image/
mount.sh
umount.sh
*.dcp
*.lock
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters
*.userprefs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
[Dd]ebugPS/
[Rr]eleasePS/
out/
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
_Chutzpah*
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb
*.psess
*.vsp
*.vspx
*.sap
$tf/
*.gpState
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.JustCode
_TeamCity*
*.dotCover
*.coverage
*.coveragexml
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
*.mm.*
AutoTest.Net/
.sass-cache/
[Ee]xpress/
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
publish/
*.[Cc]ache
!*.[Cc]ache/
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs
*.dump